[submodule "extern/agent-framework"]
	path = extern/agent-framework
	url = https://github.com/microsoft/agent-framework
[submodule "extern/durabletask-dotnet"]
	path = extern/durabletask-dotnet
	url = https://github.com/microsoft/durabletask-dotnet.git
[submodule "extern/Terminal.Gui"]
	path = extern/Terminal.Gui
	url = https://github.com/gui-cs/Terminal.Gui.git
[submodule "extern/Editor"]
	path = extern/Editor
	url = https://github.com/gui-cs/Editor.git
